.App {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}

.InlineBlock
{
  display: inline-block;
  margin: 10;
}
.InitList
{
  padding: 10;
  
}
.spacing
{
  padding-left: 15px;
}

input{
  border: none;
  border-color: transparent;
}

input:hover{
  border: 1px solid #999;
}

input:focus{
  border: 1px solid #999;
}
